{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% if form.errors %}
        <p>Username e Password non combaciano: riprova!</p>
    {% endif %}


    <!-- url: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#url -->
    <form method="post" novalidate action="{% url 'login' %}">
        {% csrf_token %}
        <br>
        <br>
        {{ form|crispy }}

        <input type="submit" value="login" class="btn btn-primary" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Password dimenticata?</a></p>

{% endblock %}
